@charset "utf-8";
/* CSS Document */


.overlay-image {
	position: relative;
	display: inline-block;
}

.overlay-image .overlay-text {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.overlay-text div {
	padding:5px;
}

.explicit-warning {
	text-align:center;
	border-radius:6px;
	font-size: 1.6rem;
	background-color:red;
	color: white;
}

.notyButtonOk {
	margin-bottom:10px;
}

.notyButtonCancel {
	margin-bottom:10px;
}

